<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Remind-Me</title>
    <style>
        .text-strikethrough {
            text-decoration: line-through;
            color: grey;
        }
    </style>
</head>
<body>
    <h1>Todo Application</h1>
    <div>
        <form action="/" method="post">
            <div>
                <input type="text" name="title" placeholder="Add a new task ..." required>
            </div>
            <button type="submit">Add</button>
        </form>
        <th:block th:each="task : ${tasks}">
            <div>
                <span th:classappend="${task.completed} ? 'text-strikethrough'" th:text="${task.title}">Task Title</span>
                <span th:classappend="${task.completed} ? 'text-strikethrough'" th:text="${task.id}">Task ID</span>

                <div>
                    <a th:href="@{/{id}/toggle(id=${task.id})}">Toggle</a>
                    <a th:href="@{/{id}/delete(id=${task.id})}">Delete</a>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>